/* screen - frame-20 */

.frame-20 {
  border: 1px none;
  display: flex;
  min-height: 3842px;
  min-width: 1512px;
  width: 100%;
}

.frame-20 .home-page {
  align-items: flex-end;
  background-color: #d9a795;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 3842px;
  overflow: hidden;
  width: 1512px;
}

.frame-20 .flex-col {
  flex-direction: column;
  margin-right: -390px;
  min-height: 1222px;
  width: 1833px;
}

.frame-20 .overlap-group5 {
  height: 877px;
  margin-left: 6.0px;
  position: relative;
  width: 1827px;
}

.frame-20 .rectangle-3 {
  height: 549px;
  left: 861px;
  position: absolute;
  top: 0;
  width: 576px;
}

.frame-20 .rectangle-1 {
  height: 549px;
  left: 879px;
  position: absolute;
  top: 0;
  width: 558px;
}

.frame-20 .vector-1 {
  height: 17px;
  left: 1371px;
  position: absolute;
  top: 468px;
  width: 17px;
}

.frame-20 .vector-2 {
  height: 17px;
  left: 1363px;
  position: absolute;
  top: 540px;
  width: 17px;
}

.frame-20 .vector-3 {
  height: 9px;
  left: 1116px;
  position: absolute;
  top: 281px;
  width: 9px;
}

.frame-20 .vector-4 {
  height: 17px;
  left: 1388px;
  position: absolute;
  top: 504px;
  width: 17px;
}

.frame-20 .vector-5 {
  height: 17px;
  left: 1338px;
  position: absolute;
  top: 504px;
  width: 17px;
}

.frame-20 .vector-6 {
  height: 32px;
  left: 1117px;
  position: absolute;
  top: 769px;
  width: 36px;
}

.frame-20 .frame-22 {
  display: flex;
  height: 849px;
  left: 0;
  position: absolute;
  top: 28px;
  width: 1827px;
}

.frame-20 .frame-21 {
  display: flex;
  width: 1827px;
}

.frame-20 .frame-20-1 {
  display: flex;
  height: 849px;
  width: 1827px;
}

.frame-20 .frame-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 62px;
  min-height: 849px;
  width: 1827px;
}

.frame-20 .frame-13 {
  display: flex;
  margin-left: 30px;
  margin-top: 1px;
  width: 1290px;
}

.frame-20 .component-1 {
  align-items: center;
  min-width: 1290px;
}

.frame-20 .hanan-jama-logos_transparent-1 {
  align-self: flex-start;
  height: 106px;
  margin-left: -42px;
  margin-top: -12px;
  object-fit: cover;
  width: 186px;
}

.frame-20 .about {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 15.0px;
  margin-left: 167px;
  min-height: 37px;
  width: 70px;
}

.frame-20 .resume {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 15.0px;
  margin-left: 49px;
  min-height: 37px;
  width: 118px;
}

.frame-20 .get-in-touch {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 15.0px;
  min-height: 37px;
  width: 174px;
}

.frame-20 .twitter {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 62px;
  margin-left: 341px;
  padding: 18.9px 16.2px;
  width: 62px;
}

.frame-20 .icon-twitter {
  height: 24px;
  width: 29px;
}

.frame-20 .icon-linkedin {
  height: 28px;
  margin-left: 37px;
  margin-top: 12.0px;
  width: 32px;
}

.frame-20 .instagram {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 62px;
  margin-left: 36px;
  padding: 13.9px 13.8px;
  width: 62px;
}

.frame-20 .icon-instagram {
  height: 34px;
  width: 34px;
}

.frame-20 .flex-row {
  gap: 71px;
  margin-left: 4px;
  min-width: 1823px;
}

.frame-20 .frame-14 {
  display: flex;
  height: 517px;
  margin-bottom: 13.0px;
  width: 580px;
}

.frame-20 .group-1107 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 69px;
  min-height: 517px;
  width: 586px;
}

.frame-20 .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 18px;
  margin-right: 6.0px;
  min-width: 580px;
}

.frame-20 .overlap-group {
  height: 373px;
  position: relative;
  width: 458px;
}

.frame-20 .im-hanan {
  display: flex;
  height: 145px;
  left: 0;
  position: absolute;
  top: 22px;
  width: 458px;
}

.frame-20 .im-hanan-1 {
  background-color: transparent;
  border: 0;
  color: var(--old-lace);
  flex: 1;
  font-family: var(--font-family-kurale);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 458px;
}

.frame-20 .im-hanan-1::placeholder {
  color: #fcf5e399;
}

.frame-20 .hello-there {
  background-color: transparent;
  border: 0;
  color: var(--old-lace-2);
  font-family: var(--font-family-kurale);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 37px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 0;
  width: 160px;
}

.frame-20 .hello-there::placeholder {
  color: #fcf6e499;
}

.frame-20 .ux-designer-researcher {
  background-color: transparent;
  border: 0;
  color: var(--old-lace);
  font-family: var(--font-family-kurale);
  font-size: 38px;
  font-weight: 400;
  height: 119px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 163px;
  width: 407px;
}

.frame-20 .ux-designer-researcher::placeholder {
  color: #fcf5e399;
}

.frame-20 .im-a-user-experience {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-family: var(--font-family-kurale);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 118px;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 255px;
  width: 455px;
}

.frame-20 .im-a-user-experience::placeholder {
  color: #ffffff99;
}

.frame-20 .flex-col-1 {
  align-items: flex-start;
  gap: 94px;
  margin-bottom: 38.0px;
  min-height: 219px;
  width: 104px;
}

.frame-20 .vector-7 {
  height: 36px;
  width: 47px;
}

.frame-20 .group-1104 {
  align-self: flex-end;
  height: 89px;
  width: 58px;
}

.frame-20 .group-1105 {
  align-items: flex-start;
  background-color: var(--old-lace);
  border-radius: 20px;
  display: flex;
  gap: 15px;
  height: 75px;
  justify-content: flex-end;
  margin-right: 153.0px;
  min-width: 213px;
  padding: 14px 27.9px;
}

.frame-20 .projects {
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  min-width: 103px;
}

.frame-20 .vector-8 {
  align-self: center;
  height: 15px;
  margin-bottom: 1.08px;
  width: 14px;
}

.frame-20 .group-container {
  height: 716px;
  position: relative;
  width: 1172px;
}

.frame-20 .overlap-group1 {
  height: 671px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 1172px;
}

.frame-20 .rectangle-6 {
  height: 554px;
  left: 205px;
  position: absolute;
  top: 117px;
  width: 577px;
}

.frame-20 .rectangle-5 {
  height: 549px;
  left: 191px;
  position: absolute;
  top: 106px;
  width: 591px;
}

.frame-20 .rectangle-4 {
  height: 535px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 782px;
}

.frame-20 .rectangle-2 {
  background-color: var(--old-lace-2);
  border-radius: 109px;
  height: 474px;
  left: 224px;
  position: absolute;
  top: 106px;
  width: 948px;
}

.frame-20 .vector-9 {
  height: 9px;
  left: 309px;
  position: absolute;
  top: 75px;
  width: 9px;
}

.frame-20 .x100_0511-1 {
  height: 491px;
  left: 358px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 318px;
}

.frame-20 .group-1103 {
  height: 89px;
  left: 250px;
  position: absolute;
  top: 0;
  width: 58px;
}

.frame-20 .title {
  color: var(--old-lace-2);
  font-family: var(--font-family-kurale);
  font-size: 96px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 558.0px;
  margin-top: 64px;
  min-height: 142px;
  min-width: 225px;
}

.frame-20 .trip-assist {
  align-self: flex-start;
  color: var(--old-lace);
  font-family: var(--font-family-kurale);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 44px;
  min-height: 95px;
  text-shadow: 0px 4px 4px #00000040;
}

.frame-20 .flex-row-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 241px;
  height: 649px;
  margin-right: 55.0px;
  margin-top: 46px;
  min-width: 1301px;
}

.frame-20 .overlap-group4 {
  background-color: var(--old-lace);
  border-radius: 35px;
  height: 555px;
  position: relative;
  width: 696px;
}

.frame-20 .screen-shot-2023-05-05-at-956-1 {
  height: 286px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 303px;
}

.frame-20 .screen-shot-2023-05-05-at-1001-1 {
  height: 264px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 290px;
  width: 286px;
}

.frame-20 .screen-shot-2023-05-05-at-1002-1 {
  height: 292px;
  left: 256px;
  top: 14px;
  width: 315px;
}

.frame-20 .screen-shot-2023-05-05-at-1002-2 {
  height: 266px;
  left: 357px;
  top: 289px;
  width: 291px;
}

.frame-20 .rectangle-887 {
  background-color: #eea489;
  border-radius: 25px;
  height: 140px;
  left: 76px;
  position: absolute;
  top: 261px;
  width: 545px;
}

.frame-20 .screen-shot-2023-04-13-at-204-1 {
  height: 140px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 261px;
  width: 502px;
}

.frame-20 .flex-col-2 {
  align-items: flex-start;
  align-self: flex-end;
  gap: 310px;
  min-height: 475px;
  width: 364px;
}

.frame-20 .component-4 {
  align-items: flex-start;
  background-color: var(--old-lace);
  border-radius: 25px;
  gap: 18px;
  min-width: 293px;
  padding: 11px 15px;
}

.frame-20 .view-case-study {
  letter-spacing: 0;
  line-height: normal;
  min-height: 45px;
  width: 222px;
}

.frame-20 .vector {
  align-self: center;
  height: 15px;
  margin-top: 3.92px;
  width: 14px;
}

.frame-20 .cafe-connect {
  color: var(--old-lace-2);
  font-family: var(--font-family-kurale);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 95px;
  text-shadow: 0px 4px 4px #00000040;
}

.frame-20 .flex-col-3 {
  align-items: center;
  margin-right: -1214px;
  margin-top: 65px;
  min-height: 1860px;
  width: 3420px;
}

.frame-20 .flex-row-3 {
  align-items: center;
  display: flex;
  gap: 255px;
  margin-right: 346.0px;
  min-width: 1258px;
}

.frame-20 .component-4-1 {
  margin-top: 30.0px;
}

.frame-20 .screen-shot-2023-05-08-at-336-1 {
  width: 710px;
}

.frame-20 .the-stop {
  color: var(--old-lace-2);
  font-family: var(--font-family-kurale);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1587.0px;
  margin-top: 290px;
  min-height: 95px;
  min-width: 243px;
  text-shadow: 0px 4px 4px #00000040;
}

.frame-20 .flex-row-4 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin-top: 76px;
  min-width: 2017px;
}

.frame-20 .hananjamaaagmailcom-linked-in {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 14.0px;
  min-height: 124px;
  width: 345px;
}

.frame-20 .span1 {
  text-decoration: underline;
}

.frame-20 .screen-shot-2023-05-08-at-336-2 {
  margin-left: 420px;
  width: 748px;
}

.frame-20 .component-4-2 {
  margin-left: 211px;
}

.frame-20 .overlap-group3 {
  align-self: flex-end;
  height: 212px;
  margin-top: 163px;
  position: relative;
  width: 2858px;
}

.frame-20 .rectangle-10 {
  background-color: var(--old-lace-2);
  height: 212px;
  left: 132px;
  position: absolute;
  top: 0;
  width: 1512px;
}

.frame-20 .lets-chat-le {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  width: 2858px;
}

.frame-20 .hananjamaaagmailcom-linked-in-1 {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 592px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 93px;
}

.frame-20 .component {
  display: flex;
  height: 70px;
}

.frame-20 .component-4-3 {
  align-items: flex-start;
  background-color: var(--old-lace);
  border-radius: 25px;
  display: flex;
  gap: 18px;
  height: 70px;
  min-width: 293px;
  padding: 11px 15px;
}

.frame-20 .flex {
  align-items: center;
  display: flex;
}

.frame-20 .flex-col-4 {
  display: flex;
  flex-direction: column;
}

.frame-20 .screen-shot-2023-05-05-at-1002 {
  object-fit: cover;
  position: absolute;
}

.frame-20 .screen-shot-2023-05-08-at-336 {
  height: 512px;
  object-fit: cover;
}
