:root { 
  --black: #000000;
  --evening-sea: #005b47;
  --old-lace: #fcf5e3;
  --old-lace-2: #fcf6e4;
 
  --font-size-l: 25px;
  --font-size-m: 24px;
  --font-size-s: 20px;
  --font-size-xl: 30px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 64px;
  --font-size-xxxxl: 98px;
 
  --font-family-kurale-regular: "Kurale-Regular", Helvetica;
  --font-family-montserrat-bold: "Montserrat-Bold", Helvetica;
  --font-family-montserrat-medium: "Montserrat-Medium", Helvetica;
}
.montserrat-medium-black-24px {
  color: var(--black);
  font-family: var(--font-family-montserrat-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.kurale-regular-normal-evening-sea-30px {
  color: var(--evening-sea);
  font-family: var(--font-family-kurale-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.kurale-regular-normal-old-lace-25px {
  color: var(--old-lace);
  font-family: var(--font-family-kurale-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-black-36px {
  color: var(--black);
  font-family: var(--font-family-montserrat-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}
